body {font-size:1.2em;}
.standard {margin:0.1em;}
.add {margin:0.1em}
.control {margin:0.1em}
.edit {background-color: lightgray;
       margin:0.1em;
       border-radius: 0.3em;
       padding:1em;
       border:0.1em inset white
       }
.title {
    color:blueviolet;
}
button {
       border-radius:0.3em;
       padding: 10px;
       min-width:4em;
       
       border:0.1em solid #aaa;
}
.source {float:right;
       font-size:0.7em
       }
.head {background-color: lightblue;
       color:white;
       margin:0.1em;
       border-radius: 0.3em;
       padding:1em;
       border:0.1em inset white
       }
.expression input{
       font-size:1.1em;
       width: 100%;
       
}
.title button{
             margin-left: 1em;
             margin-bottom: 1em;
             padding:0.3em;
             background-color: #a99;
      
}